.top-navbar__notification {
    li {
        min-width: 350px;
        a {
            padding: 0px 4px;
            span {
                display: inline-block;
                width: 80%;
            }
        }
        border-bottom: solid;
        border-color: #C4C4C4;
        border-width: 1px;
        text-align: left;
        #notification-header:hover {
            background-color: #fff
        }
    }
    .notification__avatar{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        float: left;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .notification__time {
        color: #C4C4C4;
        padding-left: 5px;
    }
    .notification-unread{
        background-color: #dde1f8;
        .notification__time {
           color: rgb(172, 172, 172)
        }
    }
    .notification-footer {
        text-align: center;
    }
}
.dropdown {
    .notification-header:hover {
        background-color: #fff;
    }
    .notification-header {
        padding-left: 0px ;
        padding-right: 0px ;
        margin: 0px;
        text-align: center;
    }
}
.badge {
    background-color: red;
    padding: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    position: absolute;
    top: 0;
}