.article-image {
  width: 100%;
  height: 35vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-image img {
  height: 40px;
  margin-bottom: 5px;
}
.article-image span {
  font-size: 1rem;
}

.article-content {
  text-align: justify;
  line-height: 1.3rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}

.article-date {
  margin: 20px 0;
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.3);
}

.article-side-actions {
  position: fixed;
  right: 5vw;
  height: 650px;
  top: 40vh;
  margin-left: 15px;
  width: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
