@import 'variables';
input {
  padding: 5px;
  border: 0;
  width: 100%;
  font-size: inherit;
  color: inherit;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: rgba($color: #000000, $alpha: 0.2);
}
.input {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  width: 100%;
  display: flex;
  margin:5px 0px 5px 0px;
  align-items: center;
  color: rgba($color: #000000, $alpha: 0.8);
  font-size: 1.2rem;
}
.input .fa {
  margin-bottom: 0.2;
}
.input.medium {
  font-size: 1.5rem;
}
.input.large {
  font-size: 2rem;
}
.input.primary {
  color: $primary;
  border-bottom: 1px solid $primary;
}
.input.primary input::placeholder {
  color: $primary;
}
