@import 'variables';

.top-navbar {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.brand-logo {
  height: 50px;
}

.toggle-menu {
  height: 65px;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  height: 5px;
  width: 40px;
}
.hamburger {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  right: 0px;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.hamburger::before {
  top: -13px;
}
.hamburger::after {
  top: 13px;
}
.hamburger.active {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.hamburger.active::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.hamburger.active:after {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.hamburger:focus {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.hamburger:focus::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.hamburger:focus::after {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
@media screen and (max-width: 768px) {
  .top-navbar {
    height: 50px;
  }
  .brand-logo {
    height: 40px;
  }
}
