.top-navbar__notification {
    li {
        min-width: 350px;
        a {
            padding: 0px 5px;
        }
        vertical-align: middle
    }
    .notification__avatar{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        float: left;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}