@import 'variables';

.profile-view {
  width: 80%;
  border: 1px solid #3f51b5;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  margin: 0 auto;
} 

.profile-cover {
  height: 193px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  }

.profile-avatar-wrapper {
  position: absolute;
  bottom: -70px;
  left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-avatar-wrapper > p {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 20px;
margin-bottom: -10px;
}
.profile-avatar {
  width: 100px;
  display: inline-block;
  border: 1px solid #3f51b5;
  border-radius: 50%;
  box-sizing: border-box;
  margin-bottom: -15px;
}
.profile-meta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 150px;
  width: 500px;
  max-width: 100%;
  flex-wrap: wrap;
}
.profile-meta > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-meta__text {
  color: $primary;
  margin-bottom: 5px;
}

.profile-meta__button {
  margin-right: 10px;
}

.profile-bio{
  position: relative;
  width: 95%;
  height: 128px;
  padding-top: 50px;
  margin: 0 auto;
}

.profile-bio > div {
  display: flex;
  flex-direction: column;
}

.bio-header{
  color: $primary;
  margin-bottom: 5px;
}

.bio-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  text-align: justify;
  color: #696969;
  padding-top: 15px;

}

.article-card.profile {
  height: 12vh;
}

@media screen and (max-width: 768px) {
  .profile-view{
    width: 100%;
  }
  .profile-avatar-wrapper {
    bottom: -60px;
  }
  .profile-avatar {
    width: 70px;
    height: 70px;
    bottom: -35px;
  }
  .profile-meta {
    padding-left: 100px;
  }
  .bio-text{
    bottom: -60px;
  }
}
@media screen and (max-width: 768px) { 
  .profile-meta__button {
    position: absolute;
    top: 230px;
    right: 5%;
  }
}

