@font-face {
  font-family: 'Roboto-Medium';
  src: url("../font/roboto/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../font/roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../font/roboto/Roboto-Light.ttf"); }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto-Regular; }

button {
  outline: none;
  border: none; }

a {
  text-decoration: none; }

.bg-primary {
  background-color: #3f51b5; }

.bg-primary-light {
  background-color: #e8eaf6; }

.bg-white {
  background-color: white; }

.color-primary {
  color: #3f51b5; }

.color-primary-light {
  color: #3f51b5; }

.color-red {
  color: #e74c3c; }

.color-green {
  color: #2ecc71; }

.color-yellow {
  color: #f1c40f; }

.color-white {
  color: white; }

/* 
  Grid system of 12 columns
*/
.row {
  display: flex;
  flex-wrap: wrap; }

.container {
  padding: 0 10%; }

.main-content {
  padding-top: 65px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 44.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 10px 15px; }

.is-column {
  display: flex;
  flex-direction: column; }

.is-row {
  display: flex;
  flex-direction: row; }

.flex {
  display: flex; }

.content-center {
  display: flex;
  justify-content: center; }

.content-right {
  display: flex;
  justify-content: flex-end; }

.items-center {
  display: flex;
  align-items: center; }

.items-center {
  display: flex;
  align-items: flex-end; }

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1.25rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px; }

/* 
  ##Device = Laptops, Desktops
*/
@media screen and (min-width: 769px) {
  .is-tablet,
  .is-mobile {
    display: none; } }

/* 
  ##Device = Tablets and Mobile
*/
@media screen and (max-width: 768px) {
  .is-desktop {
    display: none; }
  .is-tablet,
  .is-mobile {
    display: block; }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%; }
  .main-content {
    padding-top: 50px; }
  .container {
    padding: 0 5%; } }

@media screen and (max-width: 320px) {
  .container {
    padding: 0 15px; } }

.top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3f51b5;
  height: 65px;
  display: flex;
  align-items: center;
  color: white; }

.brand-logo {
  height: 50px; }

.toggle-menu {
  position: relative;
  height: 65px; }

.hamburger,
.hamburger::before,
.hamburger::after {
  height: 5px;
  width: 40px; }

.hamburger {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; }

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  right: 0px;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; }

.hamburger::before {
  top: -13px; }

.hamburger::after {
  top: 13px; }

.hamburger.active {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

.hamburger.active::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); }

.hamburger.active:after {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg); }

@media screen and (max-width: 768px) {
  .top-navbar {
    height: 50px !important; }
  .brand-logo {
    height: 40px; } }
